[Unit]
Description=Telegram Tournament Bot (User Service)
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/tgbot/tournament_bot
ExecStart=%h/tgbot/tournament_bot/run.sh
Restart=always
RestartSec=10
StandardOutput=append:%h/tgbot/tournament_bot/logs/systemd.log
StandardError=append:%h/tgbot/tournament_bot/logs/systemd.log

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=default.target
